#container {
    border-radius: 6px;
    background-color: #181818;
    color: white;
    position: absolute;
    overflow-y: auto;
    transition: opacity .25s ease; /* Change Animation duration in component def when changing this */
    max-height: 45vh;
}

#container ul {
    list-style: none;
}

#container ul li {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 1rem;
    border-bottom: 2px solid #484848;
    padding-right: .5rem;
}

#container ul li:last-of-type {
    border-bottom: none;
}

#container ul li:hover {
    background-color: #363636;
}

.iconContainer {
    background-color: #A8324C;
    height: 100%;
    padding: .5rem .5rem;
    margin-right: .5rem;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}

.description {
    text-align: left;
    margin-left: .5vmax;
    font-size: .764rem;
    padding: .25vmax 0;
    font-style: italic;
    color: #aaa;
}

.area_name {
    font-weight: bold;
    font-style: normal;
}

#controls_container {
    display: flex;
    align-items: center;
    padding: 0.5rem .5rem;
    cursor: pointer;
    font-size: 1rem;
    justify-content: space-between;
}

#controls_container[data-disabled="true"] {
    opacity: .75;
    cursor: default;
}

#power_container {
    display: flex;
    align-items: center;
}

#power_icon {
    color: #207110;
    border-radius: 50%;
    width: 1.25vmax;
    height: 1.25vmax;
    margin-right: .25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

#power_icon[data-status="0"] {
    color: red;
}

#power_icon[data-status="1"] {
    color: yellow;
    cursor: initial;
}

#graceful_container {
    font-size: .618rem;
    display: flex;
    align-items: center;
}

#graceful_container[data-applicable="false"] {
    visibility: hidden;
}

#graceful_checkbox {
    margin-left: .309rem;
    appearance: none;
    width: .618rem;
    height: .618rem;
    outline: 1px solid white;
    accent-color: transparent;
    cursor: pointer;
}

#graceful_checkbox:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    top: 0;
    transform: translateY(50%)
}