#backdrop {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

#container {
    z-index: 101;
    position: absolute;
    background-color: white;
    min-width: 50vw;
    max-width: 90vw;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 1vmax;
    opacity: 0;
    transition: opacity 0.5s;
}

#container.visible, #backdrop.visible {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: 1vmax;
    padding-bottom: 1vmax;
}

#close {
    cursor: pointer;
}

#body {
    text-align: justify;
    position: relative;
    display: flex;
    flex-grow: 1;
    min-height: 0;
    flex-direction: column;
}