#backdrop {
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

#container {
    z-index: 101;
    position: fixed;
    background-color: white;
    width: 75vw;
    left: 50vw;
    top: 50vh;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    padding: 1vmax;
    opacity: 0;
    transition: opacity 0.5s;
    box-sizing: border-box;
    overflow-y: auto;
}

#container:focus {
    outline: none;
}

#container.visible, #backdrop.visible {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: 1vmax;
    padding-bottom: 1vmax;
}

#close {
    cursor: pointer;
}

#body {
    text-align: justify;
    position: relative;
    display: flex;
    flex-grow: 1;
    min-height: 0;
    flex-direction: column;
    overflow-y: auto;
}

@media screen and (max-width: 1367px) {
    #container {
        min-width: 75vw;
    }
}

@media screen and (max-width: 800px) {
    #container {
        min-width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
    }
}