#container {
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 0px 10px 2px #aaa;
    border-radius: .75vmax;
    padding: 0 1vmax;
}

#config_buttons_container {
    display: flex;
    font-size: .764rem;
    font-weight: bold;
    color: #aaa;
    align-items: center;
}

.config_button {
    margin-left: .764rem;
    background-color: #324ca8;
    color: #fff;
    padding: .318rem;
    font-weight: 600;
    border-radius: 6px;
}

#config_container {
    max-height: 0;
    z-index: 1;
    transition: max-height .25s ease-in;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 !important;
}

#config_content {
    padding-bottom: .75vmax;
    min-width: max-content;
}

#controls_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
    height: 5vh;
}

.control {
    margin-right: .75vmax;
    display: flex;
    align-items: center;
}

.control:last-of-type {
    margin-right: 0;
}

#container > div {
    border-radius: .75vmax;
}

#expand_collapse_container {
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-left: .764rem;
}

#expand_collapse_container > p {
    width: 2rem;
}

#expand_collapse_arrow {
    transition: transform .25s ease-in;
    font-size: 1rem;
}

#expand_collapse_arrow[data-expanded="true"] {
    transform: rotate(180deg);
}

@media screen and (max-width: 900px) {
    #container {
        left: 2.5%;
        transform: translate(0);
        border-radius: 1vmax;
    }
}