#container {
    border-radius: 6px;
    background-color: #181818;
    color: white;
    position: absolute;
    width: 10vmax;
    overflow: hidden;
    transition: opacity .25s ease;
}

#container ul {
    list-style: none;
}

#container ul li {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-bottom: 2px solid #484848;
    font-size: .75vmax;
}

#container ul li:last-of-type {
    border-bottom: none;
}

#container ul li:hover {
    background-color: #363636;
}

.iconContainer {
    background-color: #A8324C;
    height: 100%;
    padding: .5vmax .5vmax;
    margin-right: .5vmax;
}

.icon {
    width: 1.25vmax;
    height: 1.25vmax;
}

.description {
    text-align: left;
    margin-left: .5vmax;
    font-size: .75vmax;
    padding: .25vmax 0;
    font-style: italic;
    color: #aaa;
}