#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: absolute;
    overflow: hidden;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 0px 10px 2px #aaa;
    border-radius: .75vmax;
}

#container > div {
    padding: .75vmax 1vmax;
    display: flex;
    align-items: center;
    border-radius: .75vmax;
    cursor: pointer;
}

#container svg {
    width: 1vmax;
}

#container > div:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    #container {
        left: 5%;
        transform: translate(0);
        border-radius: 1vmax;
    }
    
    #container > div {
        padding: .5vmax 1vmax;
    }
}