#container {
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    overflow: hidden;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 0px 10px 2px #aaa;
    border-radius: 12px;
    padding: 8px;
}

#container > div {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

#container > div:last-of-type {
    margin-right: 0;
}