.modal {
    height: 90vh;
}

#body {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
}

#sub_screen_container {
    flex-grow: 1;
    padding-left: 2.5vw;
}

#controls_container {
    position: fixed;
    right: 0;
    bottom: 1vmax;
    display: flex;
    background-color: white;
}

.control {
    border: none;
    padding: .618rem;
    background-color: transparent;
    color: #324ca8;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: .764rem;
}