.modal {
    height: 90vh;
}

#body {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
}

#sub_screen_container {
    flex-grow: 1;
    padding-left: 2vw;
}

#controls_container {
    position: fixed;
    left: 50%;
    bottom: 1vmax;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: white;
}

.control {
    border: none;
    background-color: transparent;
    color: #324ca8;
    font-weight: 600;
    margin-right: 5vmax;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: .764rem;
}