#container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    padding: 12px;
    border-radius: 30px;
    transition: opacity .25s;
    opacity: 0;
    z-index: 2;
}

#container.visible {
    z-index: 10;
    opacity: 1;
    height: auto;
}