.desc {
    font-size: .764vmax;
    margin-top: 1vmax;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-shrink: 0;
    list-style-position: inside;
}

.hover_desc {
    text-align: center;
    width: 100%;
    font-style: italic;
}