#table {
    table-layout: fixed;
    max-width: 100%;
    width: min-content;
    display: block;
    border-collapse: collapse;
    overflow-x: scroll;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#table th {
    background-color: #ddd;
    border-right: 1px solid white;
}

#table th:last-of-type {
    border-right: 1px solid #ddd;
}

#table td {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow: hidden;
}

#table tr:last-of-type td {
    border-bottom: none;
}

#table td, #table th {
    padding: .236vmax .618vmax;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    text-wrap: nowrap;
    cursor: pointer;
}

.nested_table {
    border-collapse: collapse;
    table-layout: auto;
}

.nested_table td, .nested_table th {
    border: 1px solid #aaa !important;
}

.fixed {
    position: sticky;
    left: 0;
    font-weight: bold;
    box-shadow: inset -10px 0 5px -10px #aaa;
    border-right: none;
    z-index: 2;
}

.hovered {
    background-color: rgb(106, 135, 197) !important;
}

.added td{
    animation: addedAnim 5s ease-in normal forwards;
}

@keyframes addedAnim {
    0% {
        opacity: 0;
        background-color: inherit;
    }

    33% {
        background-color: #a6d1a8;
        opacity: 1;        
    }

    90% {
        background-color: #a6d1a8;
    }

    100% {
        opacity: 1;
        background-color: white;
    }
}

.in {
    animation: in .5s ease-in normal forwards;
}

.out {
    animation: out .5s ease-out forwards;
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translateY(0);
        color: #851515;
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
        color: #851515;
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        color: #a6d1a8;
    }

    99% {
        opacity: .99;
        color: #a6d1a8;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lsa_header {
    display: flex;
    border: 1px solid #aaa;
}

.lsa_header > div {
    padding: .318rem .764rem;
    border-right: 1px solid #aaa;
}

.lsa_header>div:last-of-type {
    border-right: none;
}

.lsa_header_label {
    opacity: .75;
    font-size: .618rem;
}

.lsa_header_value {
    font-weight: bold;
    font-size: .764rem;
}