.nested_table {
    border-collapse: collapse;
    table-layout: auto;
}

.nested_table td, .nested_table th {
    border: 1px solid #aaa !important;
}

.added td{
    animation: addedAnim 5s ease-in normal forwards;
}

@keyframes addedAnim {
    0% {
        opacity: 0;
        background-color: inherit;
    }

    33% {
        background-color: #a6d1a8;
        opacity: 1;        
    }

    90% {
        background-color: #a6d1a8;
    }

    100% {
        opacity: 1;
        background-color: white;
    }
}