#container {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#backdrop {
    background-color: #000000aa;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

#content {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: initial;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: .764rem;
}

#header h2 {
    display: flex;
    align-items: center;
}

#header h2 svg {
    margin-right: 4px;
    margin-top: 2px;
    color: #eab807;
}

#close {
    cursor: pointer;
}

#warning {
    border: 2px solid #eab807;
    border-radius: 6px;
    background-color: #eab80711;
    color: #eab807;
    padding: 0.309rem;
    display: flex;
    font-size: .764rem;
    margin-bottom: .764rem;
}

#warning p span {
    font-weight: bold;
    text-transform: uppercase;
}

#warning_icon {
    display: flex;
    align-items: center;
    font-size: 1.309rem;
    margin-right: .764rem;
}

.option {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    margin-bottom: .764rem;
    background-color: #324ca8;
    color: white;
    padding: .618rem 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.option:hover {
    background-color: #324ca8cc;
}

#file_input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

#error {
    display: flex;
    align-items: center;
    color: #a83232;
    font-size: .764rem;
    font-weight: 600;
    visibility: hidden;
    list-style-position: inside;
}

#error[data-visible="true"] {
    visibility: visible;
}

#error ol li span {
    background-color: #ccc;
    font-family: "Courier New";
    font-weight: normal;
    word-break: break-word;
}

#error svg {
    font-size: 1.309rem;
    width: 3rem;
    margin-right: 4px;
}

@media screen and (max-width: 1200px) {
    #header {
        font-size: 0.764rem;
    }
}

@media screen and (max-width: 900px) {
    #content {
        width: 35vw;
    }
}

@media screen and (max-width: 500px) {
    #content {
        width: 50vw;
    }
}