#header {
    height: 6dvh;
    background-color: #324ca8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5vmax;
    position: sticky;
    top: 0;
    z-index: 100;
}

#header_title {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#header_title svg {
    margin-right: 12px;
}

nav {
    height: 100%;
}
nav ul {
    display: flex;
    list-style: none;
    height: 100%;
}

nav ul li {
    font-weight: bold;
    height: 100%;
    padding: 0 1.5vmax;
    font-size: .764rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #eee;
}

nav ul li:hover {
    background-color: #4562C8;
    color: white;
}