.container {
    overflow-x: visible;
    background-color: white;
    transition: transform .5s ease-in;
    transform: translateX(100%);
}

.container.expanded {
    transform: translateX(0);
}

#toggle {
    display: flex;
    align-items: center;
    background-color: #324ca8;
    color: white;
    position: absolute;
    left: 0;
    padding: .5vmax;
    border: 1px solid white;
    border-bottom: none;
    font-size: 1vmax;
    font-weight: 600;
    z-index: 1;
    transform-origin: bottom right;
    transform: translateX(-100%) rotate(-90deg);
    cursor: pointer;
}

.toggle_icon {
    margin-left: 0.5vmax;
    transition: transform 0.2s ease-in;
}

.toggle_icon.expanded {
    transform: rotate(180deg);
}
#main {
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 88dvh;
    border-left: 1px solid #ccc;
}

#main[data-no-borders="true"] {
    border-left: 0;
}

#container ul {
    list-style-position: inside;
}

#control_panel {
    display: flex;
    align-items: center;
    padding: 0.25vmax 1vmax;
}

.control {
    box-shadow: 0 0 5px 1px #ccc;
    height: 2vmax;
    width: 2vmax;
    margin-right: .618rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 1.309rem;
    cursor: pointer;
}

#search_box {
    border: none;
    width: auto;
    padding: 0 .618rem;
    font-size: 1rem;
    justify-content: flex-start;
    cursor: initial;
}

#search_box label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_input {
    height: 100%;
    border: none;
    display: flex;
    flex-grow: 1;
    padding-left: .309rem;
    border-radius: 6px;
    font-size: .75vmax;
}

#search_input:focus {
    outline: 1px solid #ccc;
}

#title {
    position: sticky;
    text-align: center;
    padding: 2vh 0;
    top: 0;
    background-color: white;
}

.log_list {
    list-style: none;
    list-style-position: inside;
    text-align: justify;
    padding: 0 1vmax;
    font-size: .75vmax;
    flex-grow: 1;
    overflow-y: auto;
}

.event {
    opacity: 0;
    transition: opacity .5s;
    margin-bottom: .25vmax;
}

.event.visible {
    opacity: 1;
}

.link {
    margin-right: .75vmax;
    text-decoration: underline;
    cursor: pointer;
    color: #324ca8;
    font-weight: 600;
}


#log_size_selector {
    height: 2vmax;
    font-size: .75vmax;
    box-shadow: 0 0 5px 1px #ccc;
    border: none;
    border-radius: 6px;
    width: 5vmax;
}

#log_size_selector_container label{
    font-size: .618vmax;
    color: #aaa;
    margin-right: .5vmax;
}

ul ul, ul ol {
    margin-left: 2rem;
}

#filter_container {
    max-height: 0;
    transition: max-height .25s ease-in, opacity .25s ease-in;
    margin: 0 1vmax;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    opacity: 0;
}

#filter_container[data-visible="true"] {
    max-height: 15vh;
    height: 15vh;
    opacity: 1;
}

#filters_title {
    color: #aaa;
    font-weight: 600;
}

#filter_table {
    border-spacing: 0 1vh;
    border-collapse: separate;
    width: max-content;
}

#filter_table th {
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

#filter_table td {
    padding-left: 1vw;
}

.drop_down, .date_input_container input {
    box-shadow: 0 0 5px 1px #ccc;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: .309rem .618rem;
}

.date_input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .309rem;    
}

.date_input_container:last-of-type {
    margin-bottom: 0;
}

.date_label {
    font-size: .764rem;
    color: #aaa;
    margin-right: .618rem;
}
:global(.ls_req_container) {
    display: flex;
    border: 1px solid #ccc;
    max-width: max-content;
    margin-bottom: 4px;
}
:global(.ls_req_container > .ls_req_desc) {
    padding: .318rem .618rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
    background-color: white;
}

:global(.ls_req_container > .ls_req_desc:last-of-type) {
    border-right: none;
}

:global(.ls_req_container > .ls_req_desc > .ls_req_label) {
    opacity: .75;
    font-size: .5rem;
}

:global(.ls_req_container> .ls_req_desc > .ls_req_value) {
    font-weight: bold;
    font-size: .618rem;
}