.container {
    overflow-x: visible;
    background-color: white;
    transition: transform .5s ease-in;
    transform: translateX(100%);
}

.container.expanded {
    transform: translateX(0);
}

#toggle {
    display: flex;
    align-items: center;
    background-color: #324ca8;
    color: white;
    position: absolute;
    left: 0;
    padding: .5vmax;
    border: 1px solid white;
    border-bottom: none;
    font-size: 1vmax;
    font-weight: 600;
    z-index: 1;
    transform-origin: bottom right;
    transform: translateX(-100%) rotate(-90deg);
    cursor: pointer;
}

.toggle_icon {
    margin-left: 0.5vmax;
    transition: transform 0.2s ease-in;
}

.toggle_icon.expanded {
    transform: rotate(180deg);
}
#main {
    background-color: white;
    overflow-y: scroll;
    height: 92.5vh;
    border-left: 1px solid #ccc;
}

#container ul {
    list-style-position: inside;
}

#control_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25vmax 1vmax;
    margin-bottom: 2vh;
}

#search_box {
    box-shadow: 0 0 5px 1px #ccc;
    border: none;
    height: 2vmax;
    border-radius: 6px;
    width: 50%;
    display: flex;
}

#search_box label {
    display: flex;
    flex-grow: 0.3;
    justify-content: center;
    align-items: center;
}

#search_input {
    height: 100%;
    border: none;
    display: flex;
    flex-grow: 1;
    border-radius: 6px;
    font-size: .75vmax;
}

#search_input:focus {
    outline: 1px solid #ccc;
}

#title {
    position: sticky;
    text-align: center;
    padding: 2vh 0;
    top: 0;
    background-color: white;
}
#log_list {
    list-style: none;
    list-style-position: inside;
    text-align: justify;
    padding: 0 1.25vh;
    font-size: .75vmax;
}

.event {
    opacity: 0;
    transition: opacity .5s;
    margin-bottom: 1.25vh;
}

.event.visible {
    opacity: 1;
}

.link {
    margin-right: .75vmax;
    text-decoration: underline;
    cursor: pointer;
    color: #324ca8;
    font-weight: 600;
}


#log_size_selector {
    height: 2vmax;
    font-size: .75vmax;
    box-shadow: 0 0 5px 1px #ccc;
    border: none;
    border-radius: 6px;
    width: 5vmax;
}

#log_size_selector_container label{
    font-size: .618vmax;
    color: #aaa;
    margin-right: .5vmax;
}