.event_log {
    width: 25vw;
    position: absolute;
    right: 0;
    z-index: 50;
    min-height: 92.5vh;
    max-height: 92.5vh;
}

.App {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}