#container {
    background-color: white;
    font-weight: 600;
    position: absolute;
    overflow: hidden;
    bottom: 7vh;
    right: 2.5%;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0px 0px 10px 2px #aaa;
    border-radius: .75vmax;
    padding: 0 .75vmax;
    font-size: 1vmax;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

#main p, #main svg {
    z-index: 1;
}

#list_container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height: 0;
    transition: max-height .25s ease-in;
    background-color: white;
}

#list {
    list-style: none;
    list-style-position: inside;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    width: max-content;
    right: 0; 
    z-index: 0;
    transition: opacity .25s ease-in, transform .25s ease-in, visibility 0s .25s;    
    visibility: hidden;
}

#list.opened {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

#list li {
    display: flex;
    font-size: .8vmax;
    font-weight: normal;
    align-items: center;
    margin-bottom: .25vh;
}

#list li:hover p {
    text-decoration: underline;
}

.packet {
    width: 1vmax;
    height: .75vmax;
    margin-right: .5vmax;
}

.expand {
    margin-left: .25vmax;
    transition: transform .25s ease-in;
}

.expand.opened {
    transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
    #main {
        height: 4vh;
    }
}